<div class="loginContainer">
    <div class="container">
<div class="row justify-content-md-center">
<div class="col-md-3">
<div class="avatarFrameoffline marto15 marbo15">

    <img src="assets/img/generic_avatar.png" alt="avatar" class="imageAvatar img-fluid"/>

</div>

</div>
    


</div>

<div class="row justify-content-md-center">
<div class="col-md-6">
<div class="center">
<h3>Iniciar sesión</h3>
</div>
<p *ngIf="operation == 'register'">¿Ya tienes cuenta? has <a style="cursor: pointer;" (click)="operation = 'login'" >Login</a></p>
<p *ngIf="operation == 'login'">¿No tienes cuenta? <a style="cursor: pointer;" (click)="operation = 'register'" >Registrarse</a></p>
<div class="borderedContainer">

<input type="email"  [(ngModel)]= "email" class="form-control marbo15" placeholder="Ingrese su email" />
<input type="password" [(ngModel)]= "password" class="form-control marbo15" placeholder="Ingrese su contraseña" />
<input *ngIf="operation == 'register'" [(ngModel)]= "nick" type="text" class="form-control marbo15" placeholder="Ingrese su Nick" />

</div>
<div class="center">
<a (click) = "login()" *ngIf="operation == 'login'" class="btn btn-primary marbo15 botonLogin">Iniciar sesión</a>&nbsp;&nbsp;
<a (click) = "register()" *ngIf="operation == 'register'" class="btn btn-primary marbo15 botonLogin">Registrarme</a>


</div>
</div>

</div>
</div>
</div>
