<div id="menuContainer">
<div routerLink="home" class="item branding">
    <img id="main-logo" src="assets/img/logo_live.png" alt="Logo Webzinger"/>
    Webzinger
</div>
<div routerLink="profile" class="item">
    Profile
</div>
<div (click) = "logout()" class="item derecha">
    Logout
</div>
</div>