<div id="profileContainer">
    <div class="container pato45">
    <div class="row">
        <div class="col-md-3">
           <div class="avatarFrameOnline">
               <img [src]="croppedImage || user.avatar" class="avatarImage img-fluid">


           </div>
<hr>
<div>


 
<span>Cambiar foto</span><br/>
<label class="custom-file-upload"><input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/gif, image/jpeg">
    Subir avatar
</label>

        </div>
      </div>
      <div class="col-md-7"  *ngIf="user">
        <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png" 
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

 
        <div>
          <label fixed>Nick</label>
          <input [(ngModel)]="user.nick" type="text" class="form-control" />
        </div>
        <div>
          <label fixed>Subnick</label>
          <input [(ngModel)]="user.subnick" type="text" class="form-control" />
        </div>
        <div>
          <label fixed>Email</label>
          <input [(ngModel)]="user.email" type="email" disabled class="form-control" />
        </div>
        <div>
          <label fixed>Status</label>
          <select [(ngModel)]="user.state" class="form-control">
            <option value="online">Conectado</option>
            <option value="away">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
        <hr />
        <a (click)="saveSettings()" class="btn btn-primary w-100 botonLogin">Guardar</a>
      </div>

    </div>


    </div>
</div>



