<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
             <div class="avatarFrameOnline">
              <img src="{{user.avatar}}" alt="avatar" id="homeAvatarPicture"/>

             </div>

        </div>
<div class="col">
<b>{{user.nick}}</b>
<div>
<span>{{user.state}}</span>
</div>
<span>Hi!, welcome to my new web page and have fun.</span>
</div>
      </div>

    </div>

  </div>
  <div class="whiteContainerPadding marto15">
    <div class="row">
       <div class="col-md-6">
          <input class="form-control" type="text" placeholder="Buscar amigos" [(ngModel)] = 'query'  />
        </div>
<div class="col-md-auto">
<img src="/assets/img/logo_live_add.png" class="icon" alt="Agregar amigo"/>

</div>
      

    </div>
  
 
  <hr>
  <b *ngIf="friends">Amigos ({{friends.length}}/{{friends.length}})</b>
  <div *ngFor = "let user of friends | search: query; let i = index" class="disblo marbo5">
  
  
   <img class="icon" src="{{user.avatar}}" alt="{{user.nick}}"/>
    <span style="margin-left: 1%;" routerLink="/conversation/{{user.uid}}" > <b>{{user.nick}}</b> - {{user.subnick || 'No subnick'}} <small>{{user.email}}</small></span> 
  
  </div>

</div>
</div>



